@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary:#B9E5E8;
  --color-secondary:#6CC7CD;
  --color-box:#FFFFFF;
  --color-bg:#DFF2EB;
  --color-line: #000000;
}

body {
  background-color: var(--color-bg);
  color: var(--color-line);
}