@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary:#B9E5E8;
  --color-secondary:#6CC7CD;
  --color-box:#FFFFFF;
  --color-bg:#DFF2EB;
  --color-line: #000000;
}

body {
  background-color: var(--color-bg);
  color: var(--color-line);
}

.bg-box {
  background-color: var(--color-box);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-bg {
  background-color: var(--color-bg);
}

.bg-line {
  background-color: var(--color-line);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-box{
  color: var(--color-box);
}

.text-bg{
  color:var(--color-bg);
}

.text-line{
  color:var(--color-line);
}